{% block header_account_container_content %}
    {% if c.userobj %}
        <nav class="navigation">
            <div class="collapsable-menu account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
                <ul class="">
                    {% block header_account_logged %}
                        {% if c.userobj.sysadmin %}
                            <li>
                                <a href="{{ h.url_for(controller='admin', action='index') }}"
                                    title="{{ _('Sysadmin settings') }}">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    <span class="text">{{ _('Admin') }}</span>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image"
                                title="{{ _('View profile') }}">
                                {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                                <span class="username">{{ c.userobj.display_name }}</span>
                            </a>
                        </li>
                        {% set new_activities = h.new_activities() %}
                        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                            {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                            <a href="{{ h.url_for(controller='user', action='dashboard') }}"
                                title="{{ notifications_tooltip }}">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span class="text">{{ _('Dashboard') }}</span>
                                <span class="badge">{{ new_activities }}</span>
                            </a>
                        </li>
                        {% block header_account_settings_link %}
                            <li>
                                <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}"
                                    title="{{ _('Edit settings') }}">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="text">{{ _('Settings') }}</span>
                                </a>
                            </li>
                        {% endblock %}
                        {% block header_site_navigation_tabs_3 %}
                            {#{{ h.build_nav_main(('search', _('Datasets'))) }}#}
                            <li>
                                <div class="dataset-container">
                                    <a class="btn-datasets" href="{{ h.url_for('search') }}" title="{{ _('Datasets') }}">
                                        {{ _('Datasets') }}
                                    </a>
                                </div>
                            </li>
                        {% endblock %}
                        {% block header_account_log_out_link %}
                            <li>
                                <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <span class="text">{{ _('Log out') }}</span>
                                </a>
                            </li>
                        {% endblock %}
                    {% endblock %}
                </ul>
            </div>
        </nav>
    {% else %}
        {% block header_site_navigation %}
            <nav class="navigation">
                <div id="" class="collapsable-menu account avatar account avatar">
                    <ul class="">
                        {% block header_site_navigation_tabs_2 %}
                            {#{{ h.build_nav_main(('search', _('Datasets'))) }}#}
                            <li>
                                <div class="dataset-container">
                                    <a class="btn-datasets" href="{{ h.url_for('search') }}" title="{{ _('Datasets') }}">
                                        {{ _('Datasets') }}
                                    </a>
                                </div>
                            </li>
                        {% endblock %}
                        {% block header_account_log_out_link_2 %}
                            <li>
                                <a href="{{ h.url_for('/user/login') }}" title="{{ _('Log in') }}">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                </a>
                            </li>   
                        {% endblock %}
                    </ul>
                </div>
            </nav>
        {% endblock %}
    {% endif %}
{% endblock %}